<div class="h-100 border d-flex">
  <div class="enemy-card flex-grow-1 d-flex flex-column">
    <div class="d-flex flex-grow-1">
      <!-- card -->
      <div class="flex-grow-1 border">
        card
      </div>
      <div class="area-title">
        current enemy
      </div>
    </div>
    <div class="d-flex flex-grow-1">
      <div class="flex-grow-1 border">
        card
      </div>
      <div class="area-title">
        battle reward
      </div>
    </div>
  </div>
  <div class="enemy-legend d-flex flex-column gap-1" style="width: 40%">
    <div>
      TODO: Enemies (Ranks)
    </div>
    @for (enemy of enemyTypes; track enemy) {
      <div class="border">
        <!-- Title -->
        <div class="d-flex border p-1">
          <i [class]="getSuit(enemy.suit)"></i>
          <span class="flex-grow-1 text-center">
            {{ enemy.name }}
          </span>
          <i [class]="getSuit(enemy.suit)"></i>
        </div>
        @if (enemy.special) {
          <div class="special text-center">
            {{ enemy.special }}
          </div>
        }
        <div class="d-flex flex-column">
          @for (ability of enemy.abilities; track ability) {
            <div class="d-flex flex-row" style="height: 3rem">
              <!-- Ability Icons -->
              <div class="border d-flex flex-column justify-content-center p-1">
                <i [class]="getSuit(ability.suit)"></i>
                @if (ability.instant) {
                  <i class="instant"></i>
                }
              </div>
              <span class="border flex-grow-1 align-content-center p-1">
                {{ ability.text }}
              </span>
            </div>
          }
        </div>
      </div>
    }
    <div>
      TODO: Ace Curses
    </div>
  </div>
  <div class="enemy-hp d-flex flex-column">
    @for (entry of hpEntries; track entry) {
      <div class="border {{getHpEntryTypeName(entry)}}"
           [class.special-entry]="entry != null">
        {{ maxHP - $index }}
      </div>
    }
  </div>
</div>
